body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #1e722f, #2a9198);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #fff;
}

.container {
    text-align: center;
    position: relative;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

form label, form input {
    margin: 5px 0;
}

form hr {
    width: 100%;
    border: 0.5px solid #fff;
}

.button, .container button {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.button:hover, .container button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.link-box {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
