body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #d56711, #987e2a);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #fff;
}

.container {
    text-align: center;
    position: relative;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

.button {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 150px;
    text-align: center;
}

.link-box {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-group button {
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 10px 24px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    margin-bottom: 10px;
}

.btn-group button:hover {
    background-color: #b5b6b5;
}
