body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #346c6e, #2a5298);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    gap: 30px;
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
}

.nav-link {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s, background-color 0.3s;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
}
