<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adăugare Date</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_adaugare.css') }}">
</head>
<body>
    <div class="container">
        <h1>Adăugare Date</h1>
        <form method="post">
            <label for="dropdown">Tipul de date introduse:</label>
            <select id="dropdown" name="options" onchange="handleDropdownChange()">
                <option value="option0">Selectează</option>
                <option value="option1">Introducere date cursant</option>
                <option value="option2">Introducere date companie</option>
                <option value="option3">Introducere date comisie</option>
                <option value="option4">Introducere date curs</option>
            </select>
        </form>

        <div id="cursantForm" class="hidden">
            <h2>Introducere Date Cursant</h2>
            <form method="post">
                <input type="hidden" name="form_type" value="cursant">
                <label for="cursantNume">Nume:</label>
                <input type="text" id="cursantNume" name="cursantNume" />
                <hr />
                <label for="cursantPrenume">Prenume:</label>
                <input type="text" id="cursantPrenume" name="cursantPrenume" />
                <hr />
                <label for="cursantCNP">CNP:</label>
                <input type="text" id="cursantCNP" name="cursantCNP" />
                <hr />
                <label for="cursantJudetSector">Județ:</label>
                <input type="text" id="cursantJudetSector" name="cursantJudetSector" />
                <hr />
                <label for="cursantLocalitate">Localitate:</label>
                <input type="text" id="cursantLocalitate" name="cursantLocalitate" />
                <hr />
                <label for="cursantParinteMama">Prenume mamă:</label>
                <input type="text" id="cursantParinteMama" name="cursantParinteMama" />
                <hr />
                <label for="cursantParinteTata">Prenume tată:</label>
                <input type="text" id="cursantParinteTata" name="cursantParinteTata" />
                <hr />
                <label for="cursantDataNasterii">Data nașterii:</label>
                <input type="date" id="cursantDataNasterii" name="cursantDataNasterii" />
                <hr />
                <label for="cursantLocNastere">Locul nașterii:</label>
                <input type="text" id="cursantLocNastere" name="cursantLocNastere" />
                <hr />
                <input type="submit" value="Submit">
            </form>
        </div>

         <div id="companieForm" class="hidden">
            <h2>Introducere Date Companie</h2>
            <form method="post">
                <input type="hidden" name="form_type" value="companie">
                <label for="companieNume">Nume:</label>
                <input type="text" id="companieNume" name="companieNume" />
                <hr />
                <label for="companieLocalitate">Localitate:</label>
                <input type="text" id="companieLocalitate" name="companieLocalitate" />
                <hr />
                <label for="companieJudet">Județ:</label>
                <input type="text" id="companieJudet" name="companieJudet" />
                <hr />
                <input type="submit" value="Submit">
            </form>
        </div>

        <div id="comisieForm" class="hidden">
            <h2>Introducere Date Comisie</h2>
            <form method="post">
                <input type="hidden" name="form_type" value="comisie">
                <label for="comisieDirector">Director:</label>
                <input type="text" id="comisieDirector" name="comisieDirector" />
                <hr />
                <label for="comisieSecretar">Secretar:</label>
                <input type="text" id="comisieSecretar" name="comisieSecretar" />
                <hr />
                <label for="comisiePresedinte">Președinte:</label>
                <input type="text" id="comisiePresedinte" name="comisiePresedinte" />
                <hr />
                <input type="submit">
            </form>
        </div>

        <div id="cursForm" class="hidden">
            <h2>Introducere Date Curs</h2>
            <form method="post">
                <input type="hidden" name="form_type" value="curs">
                <label for="cursNume">Nume curs:</label>
                <input type="text" id="cursNume" name="cursNume" />
                <hr />
                <label for="cursDescriere">Descriere:</label>
                <input type="text" id="cursDescriere" name="cursDescriere" />
                <hr />
                <label for="cursCor">Cod COR:</label>
                <input type="text" id="cursCor" name="cursCor" />
                <hr />
                <label for="cursNrRegistru">Numar registru national de formare profesionala:</label>
                <input type="text" id="cursNrRegistru" name="cursNrRegistru" />
                <hr />
                <label for="cursDataIncepere">Data începerii:</label>
                <input type="date" id="cursDataIncepere" name="cursDataIncepere" />
                <hr />
                <label for="cursDataFinalizare">Data finalizarii:</label>
                <input type="date" id="cursDataFinalizare" name="cursDataFinalizare" />
                <hr />
                <label for="cursDataExaminare">Data examinarii:</label>
                <input type="date" id="cursDataExaminare" name="cursDataExaminare" />
                <hr />

                <input type="submit">
            </form>
        </div>


        <div class="link-box">
            <a href="{{ url_for('home') }}" class="button">Înapoi la pagina principală</a>
        </div>
    </div>

    <script>
        function handleDropdownChange() {
            var dropdown = document.getElementById('dropdown');
            var cursantForm = document.getElementById('cursantForm');
            var companieForm = document.getElementById('companieForm');
            var comisieForm = document.getElementById('comisieForm');
            var cursForm = document.getElementById('cursForm');

            cursantForm.classList.add('hidden');
            companieForm.classList.add('hidden');
            comisieForm.classList.add('hidden');
            cursForm.classList.add('hidden');

            if (dropdown.value === 'option1') {
                cursantForm.classList.remove('hidden');
            } else if (dropdown.value === 'option2') {
                companieForm.classList.remove('hidden');
            } else if (dropdown.value === 'option3') {
                comisieForm.classList.remove('hidden');
            } else if (dropdown.value === 'option4') {
                cursForm.classList.remove('hidden');
            }
        }
    </script>
</body>
</html>
