<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principală</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <a class="nav-link" href="{{ url_for('adaugare') }}">Adăugare Date</a>
        <a class="nav-link" href="{{ url_for('actualizare_date') }}">Actualizare Date</a>
        <a class="nav-link" href="{{ url_for('stergere_date') }}">Stergere Date</a>
        <a class="nav-link" href="{{ url_for('vizualizare_date') }}">Vizualizare Date</a>
        <a class="nav-link" href="{{ url_for('select_document') }}">Generare Documente</a>
    </nav>
</body>
</html>
